<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Articles</title>
    </head>
    <body>
        <header>
            <div class="tittle">
                <h1 style="color: white;">News Articles Evaluator Through Natural Language Processing</h1>
            </div>
        </header>
        <main>
            <h1 style="text-align: center;">About Aylian Text Analysis API</h1>
            <p style="text-align: center;">
                The Aylien Text Analysis API provides powerful and flexible AI-driven content analysis solutions that bring the power of NLP to the masses.<br> We help developers, data scientists,and marketers understand human-generated textual content at scale.
            </p>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="url" name="test-url" value=""  placeholder="https://www.please_put_URL.com">
                    <input style="margin-left:25px;" id ="sub" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <p id ="error" style="color: red;"></p>
            <section>
            <section>
                <strong>URL Results:</strong>
                <div id="results">
                    <ul>
                        <li>
                            <h3>Text Polarity:</h3>
                            <p id="polarity"></p>
                            <h4>Polarity Confidence: </h4>
                            <p id="polarity_confidence"></p>
                        </li>
    
                        <li>
                            <h3>Text Subjectivity:</h3>
                            <p id="subjectivity"></p>
                            <h4>Subjectivity Confidence: </h4>
                            <p id="subjectivity_confidence"></p>
                        </li>
    
                        <h3>Text Quote:</h3>
                        <p id="quote" style="padding: 60px 0;"></p>
                    </ul>
                </div>
            </section>
        </main>
        <footer>

        </footer>
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-a11y="true"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
