header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient( to bottom,#1ed9e0,rgb(16, 174, 223) 100%) ;
}


header h3 {
    text-align: center;
  }
