<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

<title>Travel Planner App</title>
</head>

<body>
  <header class="header">
      <nav class="navbar">
        <h1 class="navbar-header">Travel Planner App</h1>
        <ul class="navbar-menu">
            <li class="navbar-list"><a class="nav-link" href="#about">About</a></li>
            <li class="navbar-list"><a class="nav-link" href="planner">Go for a trip</a></li>
        </ul>
      </nav>
  </header>

  <div class="header-image"></div>

  <div class="mid-page" id="about">
    <div class="trip-logo"></div>
    <div class="trip-planner-app">
      <h2>Travel planner App</h2>
      <p>
        Travel planner App
      </p>
    </div>
  </div>

  <section id="planner" class="section-planner">
    <div class="container">
      <div class="form-image"></div>
      <form class="form-planner" id="trip-form">
        <h2 class="form-heading">Go for a trip</h2>
        <label for="text" class="departure-label inp">The place of departure:</label>
          <input type="text" id="form-departure" name="from" placeholder="Please provide the departure location" autocomplete="off" required>
        <label for="text" class="departure-label inp">The place of arrival:</label>
          <input type="text" id="form-departure" name="from" placeholder="Please provide the arrival location" autocomplete="off" required>
        
        <label for="date" class="date-label inp">Date of departure:</label>
            <input type="date" id = 'form-date' class="form-input" name="date" required>
        <input type="submit" id="form-submit" name="submit" value="Submit">
      </form>

    </div>
  </section>
  <section id="result">
    <div class="container-results">
      <div class="pixabay-image">
          <img src="./img/earth-travel.jpg" alt="image of the destination" id="Pixabay-image">
      </div>
      <div class="result-content">
          <h2 class="result-heading">summary of adventure<i class="far fa-smile-wink"></i></h2>
          <p class="city-name text-result"><i class="city-icon icon-result fas fa-map-pin"></i>Destination:<span id="destination">...</span></p>
          <p class="date-name text-result"><i class="date-icon icon-result fas fa-map-pin"></i>Departure date:<span id="date">...</span></p>
          <p class="days-name text-result"><i class="days-icon icon-result fas fa-map-pin"></i>Adventure is:<span id="days">...</span>days away</p>
          <p class="weather-name text-result"><i class="weather-icon icon-result fas fa-map-pin"></i>Weather:<span id="temp">...</span></p>
          <a class= "button" id="delete" href="#planner">reset</a>
      </div>
    </div>
  </section>
  <script>
    if('serviceWork' in navigator){
      window.addEventListener('load',()=>{
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>
</html>